.form-group {
  flex: 1;
  margin-right: 10px;
}
  
.submit-button {
  margin-top: 30px;
  margin-left: 10px;
}
  
.invisible-input {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  box-shadow: none !important;
  margin-left: .5em;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

.invisible-input::placeholder {
  color: white !important;
}

.invisible-input::-webkit-outer-spin-button,
.invisible-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}